@use "variables" as var;
@use "mixins" as mix;

body {
  padding: 0;
  margin: 0;
  color: var.$primary;
}

.startpage-container {
  @include mix.bg-image;
  height: 100vh;

  .header {
    background-color: rgba(255, 255, 255, 0.401);
    width: 100%;
  }

  .header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.047);
  }

  .header .nav-items li .list-item {
    @include mix.link-style(1em);
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }

  .header .nav-items li .list-item:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .header .nav-items {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .nav-items {
    max-height: 240px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .startpage {
    @include mix.container;
    flex-direction: column;
    text-align: center;
    padding: 0% 25%;
    height: 80vh;
    margin-top: 20vh;

    .arrow-down {
      margin-top: 20vh;
      @include mix.arrow-down(var.$primary);
    }
  }
}

.about-container {
  @include mix.container;
  background-color: var.$primary;
  color: var.$secondary;
  flex-direction: column;

  .team-members {
    .about {
      @include mix.container;
      height: 100vh;
      flex-direction: column;

      h4 {
        font-size: 1.5em;
      }

      img {
        width: 50%;
        border-radius: 50%;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.466);
      }
      .quote-card {
        @include mix.container;
        height: 100px;
        width: 300px;
        background-color: lightgray;
        border-radius: 5px;

        .bi-quote {
          font-size: 3em;
          transform: rotate(180deg);
        }
      }
    }
  }

  .arrow-down {
    @include mix.arrow-down(var.$secondary);
  }
}

footer {
  @include mix.container;
  background-color: var.$secondary;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .startpage-container {
    margin: 0;
    .header {
      display: flex;
      justify-content: end;
    }
    .header li {
      float: left;
    }
    .header li .list-item {
      padding: 20px 30px;
    }
    .header .nav-items {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  .about-container {
    .team-members {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .about {
        width: 50%;
      }
    }
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
